:root {
    /* Modo Claro */
    --background-color: rgb(255, 255, 255); /* Cor de fundo */
    --menu-background-color: rgb(240, 242, 246); /* Cor do menu */
    --text-color: rgb(49, 51, 63); /* Cor do texto */
    --table-border-color: #444; /* Cor das bordas da tabela */
    --box-shadow-color: rgba(0, 0, 0, 0.5); /* Sombra */
}

.dark-mode {
    /* Modo Escuro */
    --background-color: rgb(14, 17, 23); /* Cor de fundo */
    --menu-background-color: rgb(38, 39, 48); /* Cor do menu */
    --text-color: rgb(255, 255, 255); /* Cor do texto */
}

/* Aplicação das cores usando as variáveis */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.menu {
    background-color: var(--menu-background-color);
    padding: 20px;
    width: 15%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: background-color 0.3s;
}

.main-content {
    margin-left: 22%; /* Espaço para o menu lateral */
    padding: 20px;
}
.menu #site,
.menu #empresa {
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 2em;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: transparent;
}

.menu button{
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: transparent;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
}
.menu button:hover {
    background-color: var(--menu-background-color);
    transition: background-color 0.3s;
}

#table-container {
    max-height: 400px; /* Define uma altura máxima fixa para a tabela */
    overflow-y: auto;  /* Habilita a rolagem vertical */
    margin-top: 20px;  /* Espaço acima da tabela */
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.content-table {
    width: 100%; /* A tabela ocupará 100% do container */
    border-collapse: collapse;
    table-layout: fixed; /* Mantém as colunas com tamanho proporcional */
}

.content-table thead th {
    position: sticky; /* Mantém o cabeçalho fixo no topo ao rolar */
    top: 0;
    background-color: var(--menu-background-color);
    z-index: 1;
}

.content-table th, .content-table td {
    padding: 10px;
    border-bottom: 1px solid var(--table-border-color);
    text-align: left;
    word-wrap: break-word; /* Quebra de linha automática nas células */
}
/* Barra de rolagem padrão */
#table-container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

#table-container::-webkit-scrollbar-thumb {
    background-color: var(--menu-background-color); /* Cor do "polegar" (parte que se move) */
    border-radius: 10px; /* Arredondamento */
    border: 2px solid transparent; /* Espaço ao redor do polegar */
    background-clip: padding-box;
}

#table-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--menu-background-color);
}

/* Fundo da barra de rolagem */
#table-container::-webkit-scrollbar-track {
    background-color: var(--menu-background-color-light); /* Cor do fundo da barra */
    border-radius: 10px;
}

