
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Presença</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div class="menu">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        <h2>Adicionar Presença</h2>
        <form id="siteFormAdiciona" action="/adicionar-presenca" method="POST">
            <label for="site">Selecione o Site:</label>
            <select id="site" name="site">
                <option value="">-- Escolha um Site --</option>
                {% for site in sites %}
                    <option value="{{ site }}" {% if site == selected_site %}selected{% endif %}>
                        {{ site }}
                    </option>
                {% endfor %}
            </select>
    
            <label for="empresa">Selecione a Empresa:</label>
            <select id="empresa" name="empresa">
                <option value="">-- Escolha uma Empresa --</option>
                {% for empresa in empresas %}
                    <option value="{{ empresa }}" {% if empresa == selected_empresa %}selected{% endif %}>
                        {{ empresa }}
                    </option>
                {% endfor %}
            </select>
        </form>
        <button onclick="voltarParaDashboard()">Dashboard</button>
        <button id="toggle-theme" class="thema">Alternar Tema</button>
    </div>
    <div class="main-content">

        <!-- Segundo Formulário -->
        <h1>Controle de Presença</h1>
        <form id="formAdicionarPresenca" action="/presenca" method="POST">
            <div class="checkbox-container">
                {% for nome in nomes %}
                    <div class="checkbox-item">
                        <label for="nome_{{ loop.index }}">
                            <input type="checkbox" id="nome_{{ loop.index }}" name="nomes" value="{{ nome }}">
                            <span class="checkbox_span"></span>
                            {{ nome }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="grupo_selects_froms">

                <div class="form_combo">
                    <!-- Seleção de Presença -->
                    <label for="presenca">Presença:</label>
                    <select id="presenca" name="presenca">
                        <option value="">-- Escolha um Tipo de Presença --</option>
                        {% for presenca in presenca_opcoes %}
                            <option value="{{ presenca }}">{{ presenca }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form_combo">
    
                    <!-- Seleção de Dia -->
                    <label for="dia">Dia:</label>
                    <select id="dia" name="dia">
                        <option value="">-- Escolha o Dia --</option>
                        {% for dia in dias %}
                            <option value="{{ dia }}">{{ dia }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form_combo">
    
                    <!-- Seleção de Mês -->
                    <label for="mes">Mês:</label>
                    <select id="mes" name="mes">
                        {% for mes_nome, mes_numero in meses_dict.items() %}
                            <option value="{{ mes_numero }}" {% if mes_numero == current_month %}selected{% endif %}>
                                {{ mes_nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form_combo">
    
                    <!-- Seleção de Ano -->
                    <label for="ano">Ano:</label>
                    <select id="ano" name="ano">
                        <option value="{{ current_year }}" selected>{{ current_year }}</option>
                    </select>
                </div>
                <!-- Campo oculto para siteempresa_id -->
                <input type="hidden" name="siteempresa_id" value="{{ siteempresa_id }}">
    
                <!-- Campo oculto para ação (adicionar/remover) -->
                <input type="hidden" name="action_type" id="action_type" value="">
        
                <!-- Botões -->
                <button type="submit" class="add_btn adicionando" onclick="setAction('adicionar')">Adicionar Presença</button>
                <button type="submit" class="remove_btn adicionando" onclick="setAction('remover')">Remover Presença</button>
            </div>
           
        </form>

        <section class="tabela_adiciona">
            <h2>Registros do Mês Atual: {{ current_month }}/{{ current_year }}</h2>
            <div id="table-container">

                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Presença</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if registros_mes_atual %}
                            {% for registro in registros_mes_atual %}
                            <tr>
                                <td>{{ registro[0] }}</td>
                                <td>{{ registro[1] }}</td>
                                <td>{{ registro[2].strftime('%d/%m/%Y') }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">Nenhum registro encontrado para o mês atual.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </section>

        <section class="container_group">
            <div class="forms_nome">

                <!-- Formulário para adicionar novo nome -->
                <form id="formAdicionarNome" action="/adicionar-nome" method="POST">
                    <h2>Adicionar Nome</h2>
                    <input type="text" id="novo_nome" name="novo_nome" placeholder="Digite o novo nome">
        
                    <!-- Campo oculto para siteempresa_id -->
                    <input type="hidden" name="siteempresa_id" value="{{ siteempresa_id }}">
        
                    <!-- Botão para adicionar nome -->
                    <button class="add_btn" type="submit">Adicionar Nome</button>
                </form>
                <hr>
                <!-- Terceiro Formulário para Reativar Nomes -->
                <form id="formReativarNomes" action="/reativar-nome" method="POST">
                    <h2>Reativar Nome</h2>
        
                    <!-- Seleção de Nomes Desativados -->
                   
                    <select id="nomes_desativados" name="nome_desativado">
                        <option value="">-- Escolha um Nome Desativado --</option>
                        {% for nome in nomes_desativados %}
                            <option value="{{ nome }}">{{ nome }}</option>
                        {% endfor %}
                    </select>
        
                    <!-- Campo oculto para siteempresa_id -->
                    <input type="hidden" name="siteempresa_id" value="{{ siteempresa_id }}">
        
                    <!-- Botão para reativar o nome -->
                    <button class="reactivate_btn" type="submit">Reativar Nome</button>
                </form>
                <hr>
        
                <!-- Quarto Formulário para Desativar Nomes -->
                <form id="formInativarNomes" action="/inativar-nome" method="POST">
                    <h2>Desativar Nome</h2>
        
                    <select id="nomes_ativos" name="nome_ativo">
                        <option value="">-- Escolha um Nome Ativo --</option>
                        {% for nome in nomes %}
                            <option value="{{ nome }}">{{ nome }}</option>
                        {% endfor %}
                    </select>
        
                    <!-- Campo oculto para siteempresa_id -->
                    <input type="hidden" name="siteempresa_id" value="{{ siteempresa_id }}">
        
                    <!-- Botão para desativar o nome -->
                    <button type="submit" class="remove_btn">Desativar Nome</button>
                </form>
            </div>
            <div class="forms_emrpesa">

                <!-- Formulário para adicionar nova empresa -->
                <form id="formAdicionarEmpresa" action="/adicionar-empresa" method="POST">
                    <h2>Adicionar Empresa</h2>
        
                    <!-- Nome da nova empresa -->

                    <input type="text" id="nova_empresa" name="nova_empresa" placeholder="Digite o nome da nova empresa" required>
        
                    <!-- Botão para adicionar empresa -->
                    <button class="add_btn" type="submit">Adicionar Empresa</button>
                </form>
                <hr>
                <!-- Formulário para ativar uma empresa -->
                <form id="formAtivarEmpresa" action="/ativar-empresa" method="POST">
                    <h2>Reativar Empresa</h2>
        
                    <!-- Seleção de Empresa Inativa -->
                    <select id="empresa_inativa" name="empresa_inativa">
                        <option value="">-- Escolha uma Empresa --</option>
                        {% for empresa in empresas_inativas %}
                            <option value="{{ empresa }}">{{ empresa }}</option>
                        {% endfor %}
                    </select>
        
                    <!-- Botão para ativar empresa -->
                    <button type="submit" class="reactivate_btn">Reativar Empresa</button>
                </form>
                <hr>
                <!-- Formulário para desativar uma empresa -->
                <form id="formDesativarEmpresa" action="/desativar-empresa" method="POST">
                    <h2>Desativar Empresa</h2>
        
                    <!-- Seleção de Empresa Ativa -->
                    <select id="empresa_ativa" name="empresa_ativa">
                        <option value="">-- Escolha uma Empresa --</option>
                        {% for empresa in empresas %}
                            <option value="{{ empresa }}">{{ empresa }}</option>
                        {% endfor %}
                    </select>
        
                    <!-- Botão para desativar empresa -->
                    <button type="submit" class="remove_btn">Desativar Empresa</button>
                </form>
            </div>
            
            <div class="forms_ferias">
    
                <!-- Formulário para adicionar nova empresa -->
                <form id="formProgramaFerias" action="/programa-ferias" method="POST">
                    <h2>Programar Férias</h2>
        
                    <!-- Nome da nova empresa -->
                    <select id="nomes_ativos" name="nome_ativo">
                        <option value="">-- Escolha um Nome Ativo --</option>
                        {% for nome in nomes %}
                            <option value="{{ nome }}">{{ nome }}</option>
                        {% endfor %}
                    </select>
    
                    <input type="date" id="data_inicio" name="data_inicio"required>
                    <input type="date" id="data_fim" name="data_fim"required>

                    <input type="hidden" name="siteempresa_id" value="{{ siteempresa_id }}">
        
                    <!-- Botão para adicionar empresa -->
                    <button class="add_btn" type="submit">Programar</button>
                </form>

                <!-- Formulário para desprogramar férias -->
                <form id="formDesprogramaFerias" action="/desprogramar-ferias" method="POST">
                    <h2>Desprogramar Férias</h2>

                    <select id="nomes_ativos" name="nome_ativo">
                        <option value="">-- Escolha um Nome Ativo --</option>
                        {% for nome in nomes %}
                            <option value="{{ nome }}">{{ nome }}</option>
                        {% endfor %}
                    </select>

                    <input type="date" id="data_inicio" name="data_inicio" required>
                    <input type="date" id="data_fim" name="data_fim" required>

                    <!-- Campo oculto para siteempresa_id -->
                    <input type="hidden" name="siteempresa_id" value="{{ siteempresa_id }}">

                    <button class="remove_btn" type="submit">Desprogramar Férias</button>
                </form>

            </div>
        </section>

    </div>



    

    <script>
        $(document).ready(function () {
            // Função para submeter o formulário de filtros preservando site e empresa
            function submitWithSiteEmpresa() {
                const site = $('#site').val();
                const empresa = $('#empresa').val();
                $('#hiddenSite').val(site);
                $('#hiddenEmpresa').val(empresa);
                $('#filterForm').submit();
            }
    
            // Evento ao mudar site ou empresa
            $('#site, #empresa').on('change', function () {
                $('#siteFormAdiciona').submit();
            });
           
        });
        // Verifica o tema salvo no localStorage e aplica as cores
        (function() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                document.body.classList.add(savedTheme); // Aplica o tema salvo no body
            }
        })();
        // Verifica o tema salvo no localStorage e aplica as cores no carregamento da página
        (function() {
                const savedTheme = localStorage.getItem('theme');
                if (savedTheme) {
                    document.body.classList.add(savedTheme); // Aplica o tema salvo no body
                } else {
                    localStorage.setItem('theme', 'light-mode');
                }
            })();
            $('#toggle-theme').on('click', function () {
                document.body.classList.toggle('dark-mode');
                const currentTheme = document.body.classList.contains('dark-mode')
                    ? 'dark-mode'
                    : 'light-mode';
                localStorage.setItem('theme', currentTheme);
                updateChartColors(currentTheme);  // Atualiza as cores dos gráficos
            });
        function voltarParaDashboard() {
            window.location.href = "/";
        }
        function setAction(action) {
            document.getElementById('action_type').value = action;
        }
    </script>
    
</body>
</html>